html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
    font-size: 16px;
    background-color: #f6f6f6;
}

body {
    margin: 0;
}

.app {
    display: grid;
    height: 100%;

    grid-template:
        'h h h'
        'm s c';

    grid-template-columns: 64px auto 1fr;
    grid-template-rows: 64px auto;
}

$default-border-color: #cecece;
$default-sidebar-background: #fdfdfd;

.app_header {
    grid-area: h;
    background: #484840;
    position: relative;
    display: flex;
    align-items: center;

    h1 {
        color: white;
        margin: 0 24px;
        font-size: 24px;
        font-weight: 800;
        line-height: 62px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

.app_modules {
    grid-area: m;
    background: #f1f1f1;
    border-right: 1px solid $default-border-color;
    position: relative;
    z-index: 1;
}

.app_sidebar {
    grid-area: s;
    border-right: 1px solid $default-border-color;
    position: relative;
    background: $default-sidebar-background;
}

.app_footer {
    grid-area: f;
    background: #fafafa;
    position: relative;
}

.app_content {
    grid-area: c;

    &.filled {
        background: linear-gradient(
            to right,
            $default-sidebar-background,
            rgba(0, 0, 0, 0),
            $default-sidebar-background
        );
    }
}

@import './module';
@import './header';
