.grid {
    padding: 16px;

    display: grid;
    grid-template-columns: repeat(4, 196px);
    grid-auto-rows: minmax(128px, max-content);
    grid-auto-flow: dense;

    column-gap: 16px;
    row-gap: 16px;

    justify-content: center;

    > * {
        background: white;
        box-shadow: 2px 2px 10px rgba(black, 0.1);
        border-radius: 4px;
        transition: box-shadow 0.2s;
        min-height: 100px;

        &:hover {
            box-shadow: 2px 2px 10px 5px rgba(black, 0.2);
        }

        &.w2 {
            grid-column: auto / span 2;
        }

        &.w3 {
            grid-column: auto / span 3;
        }

        &.w4 {
            grid-column: auto / span 4;
        }

        &.h2 {
            grid-row: auto / span 2;
            min-height: 200px;
        }
        &.h3 {
            grid-row: auto / span 3;
            min-height: 300px;
        }
        &.h4 {
            grid-row: auto / span 4;
            min-height: 400px;
        }
    }
}
