$cx-include-global-rules: true;
$cx-default-border-color: #d5d5d5;

@import '~cx/src/variables';

@import '~cx/src/index';

@import 'layout/index';
@import 'routes/default/index';
@import 'widgets/index';

.flex-col {
    display: flex;
    flex-direction: column;
}

.overflow-auto {
    overflow: auto;
}

.white {
    background: white;
}

.full-width {
    width: 100%;
}

.p1 {
    padding: 0.25rem;
}

.p2 {
    padding: 0.5rem;
}

.mb1 {
    margin-bottom: 0.25rem;
}

.mb2 {
    margin-bottom: 0.5rem;
}
